@import "tailwindcss";
@import "react-day-picker/style.css";
@plugin "@tailwindcss/forms";
@import "./src/index.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-roboto: 'Roboto Flex Variable';
}

@layer base {
  html {
    font-family: var(--font-roboto);
  }
}
