@import "tailwindcss";
@import "./src/index.css";

@theme {
  --font-roboto: 'Roboto Flex Variable';
  --font-inter: 'Inter Variable';
  --font-ubuntu-sans-mono: 'Ubuntu Sans Mono Variable';
}

@layer base {
  html {
    font-family: var(--font-roboto);
  }
}
